# IDE-files
.vscode
# 
mix-manifest.json
mix.js.map
# working-directories
/build/
/dist/
/node_modules/
/vendor/
# others
/_ASSETTS/
/src/sass/images/
/_Korrespondenz/
# keep original Example-Files
_TAMchart_/data/*.*
!_TAMchart_/data/MA.*