
/* ######################### General ######################### */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


/* ######################### SVG Canvas ######################### */

#canvas {
    margin-left: 200px;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

#sTAM {
    display: none;
    width: 100%;
    height: 100%;
}

#sTFM {
    width: 100%;
    height: 100%;
}

#Htree {
    display: none;
    width: 100%;
    height: 100%;
}

#bullsEye {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    z-index: -1;
}

/*.shadingContours {
mix-blend-mode: multiply;
}*/

.title {
    padding: 5px 0px 10px 0px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 10pt;
    font-weight: 600;
}

.version {
    font-size: 6pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-left: 3px;
    font-weight: normal;
}


/* ######################### Menu Bar ######################### */

table.menu {
    display: inline-table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    max-width: 155px;
}

td.paramlabel {
    width: 110px;
    padding: 0px 15px 3px 0px;
    overflow: hidden;
    white-space: nowrap;
}

td.param {
    padding: 0px 0px 3px 5px;
    width: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

td.paramL {
    padding: 0px 0px 3px 5px;
    width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.menu_toggler + .menu {
    display: none;
}

.menu_toggler:checked + .menu {
    display: inline-table;
}

input.filelabel {
    width: 100%;
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.paramspinbox {
    width: 45px;
    text-align: right;
    font-size: 9pt;
}

#tickcountInfo {
    display: block;
    position: absolute;
    top: 2px;
    left: 1680px;
    width: 220px;
    height: 220px;
    z-index: 11;
}

#menubar {
    float: left;
    display: inline-block;
    width: 200px;
    height: 100%;
}

u {
    text-decoration: green underline;
    text-decoration-thickness: 0.2em;
    margin: 0px 0.1em;
    font-weight: bold;
}

.mcontainer {
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
}
    .mcontainer > div {
        width: 85%;
        margin: 5px;
        padding: 2px 2px 2px 5px;
        text-align: center;
        line-height: 18px;
        border: 2px solid rgb(138, 138, 138);
        background-color: #f6f6f6;
    }
    .mcontainer > p {
        width: 86%;
        margin: 5px;
        padding: 0px 1px 0px 5px;
        text-align: left;
        line-height: 16px;
        background-color: #f6f6f6;
    }

    .mbutton {
        background: transparent;
        border-radius: 0.25em;
        min-width: 60px;
        border: 2px solid #cccccc;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 360;
        padding: 4px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        outline: none;
        background: #cacaca;
        color: rgb(128, 124, 124);
        box-shadow: 0 0.5px 0 #0c8d72;
        text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.5);
        transition: all 0.1s ease-in-out 0s;
    }
    .mbutton:hover {
        background: #13d7ae;
        color: white;
    }

    .mbutton:active, .mbutton:focus {
        background: #0fae8d;
    }


.dialbar {
    padding: 0px 5px 5px 5px;
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    font-size: 9pt;
    box-shadow: 2px 0px 4px gray;
}

    .dialbar button {
        background: transparent;
        border-radius: 15em;
        border: 2px solid #cccccc;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4em;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        outline: none;
        background: #10bc98;
        color: #fff;
        box-shadow: 0 3px 0 #0c8d72;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        -ms-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }

        .dialbar button:hover {
            background: #13d7ae;
        }

        .dialbar button:active, .dialbar button:focus {
            background: #0fae8d;
        }

    .dialbar .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
    }

        .dialbar .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .dialbar .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .1s;
        transition: .1s;
        border-radius: 20px;
    }

        .dialbar .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .1s;
            transition: .1s;
            border-radius: 50%;
        }

    .dialbar input:checked + .slider {
        background-color: #4fc46f; /*#34c759*/
    }

    .dialbar input:focus + .slider {
        box-shadow: 0 0 1px #4fc46f; /*#34c759*/
    }

    .dialbar input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }

    .dialbar fieldset {
        margin: 5px 5px 10px 5px;
        padding: 7px;
        background: white;
        border: 1px solid rgb(200,200,200);
        /*box-shadow: 2px 2px 2px gray;*/
    }

        .dialbar fieldset legend label {
            font-size: 8pt;
            padding: 2px 5px 2px 5px;
            background: white;
            border: 1px solid transparent;
        }

            .dialbar fieldset legend label.toggler {
                cursor: pointer;
            }

                .dialbar fieldset legend label.toggler:hover {
                    border: 1px solid #bbb;
                    background: #f6f6f6;
                }

        .dialbar fieldset table {
            font-size: 9pt;
        }

        .dialbar fieldset .btn {
            margin: 15px 0px 5px 0px;
            text-align: center;
        }

input.button {
    padding: 1px 4px;
}

#tooltip {
    position: absolute;
    display: block;
    font-size: 11pt;
    visibility: hidden;
    border-radius: 0.1rem;
    background-color: rgba(90, 90, 90, 0.95);
    color: white;
    padding: 0.4em 0.4em;
    white-space: pre-line; /* enable line breaks and wrapping */
    max-width: 400px;
    z-index: 101;
}

#tooltipYV {
    position: absolute;
    display: block;
    font-size: 11pt;
    visibility: hidden;
    border-radius: 0.1rem;
    background-color: rgba(90, 90, 90, 0.95);
    color: white;
    padding: 0.4em 0.4em;
    white-space: pre-line; /* enable line breaks and wrapping */
    max-width: 100px;
    z-index: 100;
}

/* ######################### Overlays ######################### */

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

#overlaybg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.modal {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2em 2em 1em 2em;
    top: 50%;
    left: 50%;
    background-color: rgb(240, 240, 240);
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 12px 1px rgba(0,0,0, 0.5);
    border-radius: 5px 5px;
    text-align: center;
    z-index: 99;
}

    .modal h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .modal p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .modal button {
        margin-left: 2rem;
        margin-right: 0.5rem;
        font-size: 1.1rem;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: inset 0 -2px 5px rgba(0,0,0,0.5),
                          1px 1px 1px black;   
    }
    .modal button:hover {
        background: #13d7ae;
        color: white;
    }

    .modal ul {
        display: flex;
        align-content: space-between;
        flex-direction: column;
    }
        .modal ul li {
            border-bottom: 2px solid #5d5d5d;
        }
        .modal ul li:last-child {
            border-bottom: none;
        }

    .modal ol {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        min-width: 400px;
    }
        .modal ol li {
            margin-left: 2rem;
            min-width: 360px;
            border-bottom: none;
        }
        .modal ol li p:hover {
            background: #13d7ae;
            color: white;

            transition-property: all;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
        }

.ulli {
    display: flex;
    flex-direction: row;
    min-width: 480px;
    text-align: left;
}
    .ulli p {
        min-width: 90px;
    }

.olli {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    min-width: 420px;
    list-style-type: decimal;
}
    .olli p {
        margin-left: 0.5rem;
        width: 320px;
    }

#modal-file-upload {
    display: none;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.75rem;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0;
    background: none;
    color: gray;
}

    .close:hover {
        color: revert;
    }

.custom-button {
    background-color: #ccc;
    margin-top:6px;
    padding: 7px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #4fc46f;
        color: white;

        transition-property: all;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
