.mcontainer {
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
}
    .mcontainer > p {
        width: 86%;
        margin: 5px;
        padding: 0px 1px 0px 5px;
        text-align: left;
        line-height: 16px;
        background-color: #f6f6f6;
    }

    .menu {
        width: 100%;
        max-width: 215px;
    }

.mc-fbox {
    width: 85%;
    margin: 5px;
    padding: 2px 2px 2px 6px;
    text-align: center;
    line-height: 18px;
    border: 2px solid rgb(138, 138, 138);
    background-color: #f6f6f6;
}
.mc-fbox-2 {
    padding: 2px 2px 2px 11px;
}

.mb-fbox-h legend {
    float: left;
}
.mb-fbox-h a {
    float: right;
}
.mb-fbox-h .btn{
    position: relative;
    top: -37px;
    left: 7px;
}


.mbutton {
    background: transparent;
    border-radius: 0.25em;
    min-width: 60px;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 360;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    background: #cacaca;
    color: rgb(128, 124, 124);
    box-shadow: 0 0.5px 0 #0c8d72;
    text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out 0s;
}
    .mbutton:hover {
        background: #13d7ae;
        color: white;
    }

    .mbutton:active, .mbutton:focus {
        background: #0fae8d;
    }


.title {
    padding: 5px 0px 10px 0px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 10pt;
    font-weight: 600;
    border-top: 2px double rgba(17, 15, 130, 0.7);
    border-bottom: 2px double rgba(17, 15, 130, 0.7);
}

.version {
    font-size: 6pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-left: 3px;
    font-weight: normal;
}

#menubar {
    float: left;
    display: inline-block;
    width: 240px;
    height: 100%;
}


.dialbar {
    padding: 0px 5px 5px 5px;
    border: 1px solid #cccccc;
    background-color: #f6f6f6;
    font-size: 9pt;
    box-shadow: 2px 0px 4px gray;
}

    .dialbar button {
        border: 2px solid #cccccc;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        outline: none;
        transition: all 0.1s ease-in-out 0s;
    }

        .dialbar button:hover {
            background: #13d7ae;
        }

        .dialbar button:active, .dialbar button:focus {
            background: #0fae8d;
        }

    .dialbar .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
    }

        .dialbar .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .dialbar .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .1s;
        transition: .1s;
        border-radius: 20px;
    }

        .dialbar .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .1s;
            transition: .1s;
            border-radius: 50%;
        }

    .dialbar input:checked + .slider {
        background-color: #4fc46f; /*#34c759*/
    }

    .dialbar input:focus + .slider {
        box-shadow: 0 0 1px #4fc46f; /*#34c759*/
    }

    .dialbar input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }

    .dialbar fieldset {
        margin: 5px 5px 10px 5px;
        padding: 7px;
        background: white;
        border: 1px solid rgb(200,200,200);
        /*box-shadow: 2px 2px 2px gray;*/
    }

        .dialbar fieldset legend label {
            font-size: 8pt;
            padding: 2px 5px 2px 5px;
            background: white;
            border: 1px solid transparent;
        }

            .dialbar fieldset legend label.toggler {
                cursor: pointer;
            }

                .dialbar fieldset legend label.toggler:hover {
                    border: 1px solid #bbb;
                    background: #13d7ae;
                    color: white;
                }

        .dialbar fieldset table {
            font-size: 9pt;
        }

        .dialbar fieldset .btn {
            margin: 15px 0px 5px 0px;
            text-align: center;
        }


/* ######################### Menu Bar ######################### */

table.menu {
    display: inline-table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    max-width: 215px;
}

td.paramlabel {
    width: 110px;
    padding: 0px 15px 3px 0px;
    overflow: hidden;
    white-space: nowrap;
}

td.param {
    padding: 0px 0px 3px 5px;
    width: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

td.paramL {
    padding: 0px 0px 3px 5px;
    width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.menu_toggler + .menu {
    display: none;
}

.menu_toggler:checked + .menu {
    display: inline-table;
}

input.filelabel {
    width: 100%;
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.paramspinbox {
    width: 45px;
    text-align: right;
    font-size: 9pt;
}


.views {
    margin: 10px 0 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewportDim {
    width: 50%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.vbutton {
    display: block;
    height: 22px;
    border-radius: 6%;
}
.vbutton:hover {
    background: #13d7ae;
}

.vb_active {
    background: #1374c4;
}

.vbutton__1 {
    width: 24px;
}
.vbutton__2 {
    width: 20px;
}
.vbutton__3 {
    width: 16px;
}
.vbutton__4 {
    width: 12px;
}
.vbutton__5 {
    width: 8px;
}
